.App {
  font-family: sans-serif;
  text-align: center;
  color: #676666;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(103, 2, 211);
  height: 50px;
  a {
    padding-left: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
}

a {
  text-decoration: none;
  list-style: none;
  color: #676666;
  cursor: pointer;
  
}

.stock-page {
  color: #676666;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
